@import "vars";

.secCurriculum02 {
    @include mq(xl) {
        padding: 0 15px;
    }

    >.container {
        @include mq(xl) {
            width: auto;
        }

        >.title {
            font-size: 45px;
            font-weight: 500;
            line-height: 68px;
            color: #232448;
            margin-bottom: 10px;
            text-align: center;
            margin: 0;

            @include mq(xl) {
                font-size: 32px;
                line-height: 40px;
                margin: 0;
                margin-bottom: 14px;
            }
        }

        >.subtitle {
            font-family: 'Cormorant Garamond';
            font-size: 16px;
            font-weight: 600;
            line-height: 30px;
            color: #232448;
            text-align: center;
            margin-bottom: 60px;

            @include mq(xl) {
                margin-bottom: 70px;
            }
        }

        >.list {
            // display: flex;
            // justify-content: space-between;
            // flex-wrap: wrap;
            // row-gap: 50px;
            text-align: center;
            display: block;


            // @include mq(xl) {
            //     row-gap: 50px;

            // }

            >.item {
                width: 344px;
                display: inline-block;
                padding: 0 21.5px;
                margin-bottom: 50px;

                @include mq(xl) {
                    margin: auto;
                    margin-bottom: 50px;
                }

                @include mq(xs) {
                    width: 323px;
                    padding: 0;


                }

                .title {
                    font-size: 40px;
                    font-weight: 500;
                    line-height: 60px;
                    color: #232448;
                    text-align: center;
                    margin-bottom: 27px;

                    @include mq(xl) {
                        font-size: 30px;
                        line-height: 50px;
                    }
                }

                >.list {
                    // display: grid;
                    // grid-template-columns: repeat(7, 1fr);
                    display: flex;
                    flex-wrap: wrap;

                    border-top: 1px solid #979797;
                    border-left: 1px solid #979797;

                    >.item {
                        height: 39px;
                        min-width: 48px;
                        line-height: 39px;
                        text-align: center;
                        align-items: center;
                        border-right: 1px solid #979797;
                        border-bottom: 1px solid #979797;

                        @include mq(xs) {
                            min-width: 45px;
                        }
                    }

                    >.item\#FD99A2 {
                        background: rgba(253, 153, 162, 0.7);
                        color: white;
                    }

                    >.item\#D4D4D4 {
                        background: rgba(212, 212, 212, 0.7);

                    }

                    >.item\#366092 {
                        background: rgba(54, 96, 146, 0.5);
                        color: white;
                    }

                    >.item\#B0B0B0 {
                        background: #B0B0B0;
                    }
                }
            }
        }
    }
}