@import "vars";

.secDetail01 {
    @include mq(xl) {
        padding: 0 15px;
    }

    >.container {
        @include mq(xl) {
            width: auto;
            margin: auto;
        }
        >.meta {
            display: flex;
            height: 24px;
            align-items: center;
            margin-bottom: 11px;

            >.date {
                font-size: 14px;
                line-height: 28px;
                margin-right: 12px;

            }
        }

        >.ttl {
            font-size: 24px;
            font-weight: 600;
            line-height: 34px;
            border-bottom: 1px solid #979797;
            padding-bottom: 15px;
            margin-bottom: 30px;
        }

        >.content {
            font-size: 16px;
            line-height: 30px;
            color: #080808;
            margin-bottom: 60px;

            @include mq(md) {
                margin-bottom: 48px;

            }

            p {
                margin: 0;
            }

            p:not(:last-child) {
                margin: 0;
                margin-bottom: 30px;
            }

            a {
                color: #356FBF;
                text-decoration: underline;
            }
        }

        >.pagination {
            >.list {
                display: flex;
                justify-content: center;

                >.item {
                    font-size: 18px;
                    line-height: 34px;
                    color: #356FBF;

                    &:not(:last-child) {
                        margin-right: 20px;

                    }
                }

                >.itemActive {
                    color: #080808;
                }
            }
        }


    }

    &aa {
        padding-top: 47px;
        padding-bottom: 84px;

        @include mq(md) {
            padding: 0 15px;
            padding-top: 65px;
            padding-bottom: 96px;

        }
    }

}