@charset "utf-8";

@import "reset";
@import "vars";
@import "badgeBasic01";
@import "btnBasic01";
@import "chkBasic01";
@import "iptBasic01";
@import "txtBasic01";
@import "tltBasic01";
@import "footerBasic01";
@import "headerBasic01";
@import "headerBasic02";
@import "secBasic01";
@import "secBasic02";
@import "secBasic03";
@import "secBasic04";
@import "secBasic05";
@import "secIndex01";
@import "secIndex02";
@import "secIndex03";
@import "secIndex04";
@import "secIndex05";
@import "secSchool01";
@import "secSchool02";
@import "secSchool03";
@import "secSchool04";
@import "secSchool05";
@import "secSchola01";
@import "secSchola02";
@import "secSchola03";
@import "secCurriculum01";
@import "secCurriculum02";
@import "secDeveloper01";
@import "secContact01";
@import "secConfirm01";
@import "secComplete01";
@import "secDetail01";
@import "secCompany01";
@import "secPrivacy01";
@import "secPrivacy02";
@import "secSitemap01";
@import "backTop";



body {
    font-family: 'Noto Serif JP', serif;
    color: #080808;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: auto;

    @include mq(bt2) {
        width: auto;
    }
}

.sp {
    display: none;

    @include mq(bt2) {
        display: block !important;
    }
}

.pc {
    display: auto;

    @include mq(bt2) {
        display: none !important;
    }
}

#type {
    >.parsley-errors-list {
        top: -10px;
        left: -266px;
        position: absolute;
        width: 100%;

        @include mq(lg) {
            top: auto;
            left: auto;
            bottom: -31px;
            right: 0;
        }
    }


}

#privacy {
    position: relative;

    >.parsley-errors-list {
        top: -20px;
        left: -405px;
        position: absolute;
        width: 100%;
        @include mq(lg) {
            left: auto;
            top: 47px;
            left: -6px;
        }
    }


}

#content {
    >.parsley-errors-list {
        top: -71px;
        right: -357px;

        @include mq(lg) {
            top: auto;
            bottom: -10px;

            right: 0;
        }
    }

    .note {
        margin-top: 0;
    }
}

#child_name,
#child_name_phonetic,
#age,
#parent_name,
#parent_name_phonetic,
#email,
#tel,
#address,
#name,
#phonetic {
    >.parsley-errors-list {
        top: -70px;
        right: -357px;

        @include mq(lg) {
            top: auto;
            bottom: -10px;
            right: 0;
        }
    }
}

.parsley-errors-list {
    @include mq(lg) {
        position: absolute;
        width: 100%;
    }

    margin: 0;
    padding: 0;

    >li {
        background: #fff;
        border: 1px solid #CE2C29;
        color: #CE2C29;
        display: inline-block;
        white-space: nowrap;
        position: absolute;
        height: 47px;
        padding: 0 22px;
        font-size: 16px;
        display: flex;
        line-height: 30px;
        align-items: center;
        right: 10px;
        top: -55px;

        @include mq(lg) {
            right: auto;
            top: auto;
        }

        &::before {
            border-top: 15px solid #CE2C29;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            content: "";
            display: block;
            height: 0;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: 0;
            z-index: 2;
            bottom: -16px;

            @include mq(lg) {
                border: 0;
                border-bottom: 15px solid #CE2C29;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                top: -16px;
                bottom: auto;
            }
        }

        &::after {
            border-top: 15px solid white;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            content: "";
            display: block;
            height: 0;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            width: 0;
            bottom: -14px;
            z-index: 9999;

            @include mq(lg) {
                border: 0;
                border-bottom: 15px solid white;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                top: -14px;
                bottom: auto;
                z-index: 9999;
            }
        }
    }
}

.parsley-error {
    .chkBasic01 {
        >.mark {
            background: #FD99A2 !important;
        }
    }

    .iptBasic01 {
        border: 1px solid #BA3C33;
        background: #FAE4E6;

        &::placeholder {
            color: #FF0000 !important;
        }
    }

    textarea {
        border: 1px solid #ba3c33;
        background: #fae4e6;
    }
}

.secBasic10 {
    overflow: hidden;
    position: relative;
    >.backTop01 {
        height: 50px;
        width: 50px;
        background: #232448;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        cursor: pointer;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        margin-left: calc(100% - 50px);
        overflow: hidden;
        >svg {
            margin: auto;
        }
        @include mq(bt2) {
            height: 40px;
            width: 40px;
            margin-left: calc(100% - 40px);
        }
    }
}