.l-pop-header {
    position: relative;

    @include mq_sp {
        margin-bottom: 15px;
    }

    &__right {
        width: 300px;
        right: 0;
        top: 10px;
        position: absolute;

        @include mq_sp {
            margin-top: -20px;
            position: static;
            width: 100%;
        }
    }
}
