.u-color-text {
    color: $color-text !important;
}

.u-color-link-text {
    color: $color-link-text !important;
}

.u-color-primary {
    color: $cat-primary-border;
}

.u-color-danger {
    color: $cat-danger-border;
}

.u-color-success {
    color: $cat-success-border;
}

.u-color-warning {
    color: $cat-warning-border;
}
